fastapi
uvicorn
python-multipart
streamlit
watchdog
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
huggingface_hub
sentence-transformers
faiss-cpu
pymupdf
pdfplumber       
pdf2image
pillow
pytesseract
python-dotenv